{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block body %}

<div class="tasks">
    <h1 class="main__title">Tasks</h1>
    <div class="tasks_list">
        {% for task in tasks %}
            <div class="tasks_list__item" data-id="{{ task.id }}">
                <div class="row">
                    <div class="col-10">
                        <input type="text" class="tasks__input" name="description[{{ task.id }}]" placeholder="Task 1" value="{{ task.description }}" required>
                    </div>
                    <div class="col-2">
                        <div class="squaredFour">
                            <input type="checkbox" class="form-control" id="squaredFour[{{ task.id }}]" name="checked[{{ task.id }}]" {% if task.checked == 'true' %}checked{% endif %} required>
                            <label for="squaredFour[{{ task.id }}]"></label>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <form action="tasks_post" method="post">
        <button type="submit" class="tasks__add"></button>
    </form>
</div>
</div>

{% endblock %}